@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
    @apply hidden
}

@layer components {
    html {
        font-family: 'Poppins', sans-serif;
    }
    .dark {
        background-color: #18181B;
        color: white;
    }

    .light{
        color: black;
    }
  }